* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(135deg, #000f25 0%, #001233 100%);
  color: #fff;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 81, 255, 0.121);
  pointer-events: none;
}

/* Контейнер для звезд */
.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none; 
}


.star {
  position: absolute;
  background-color: #00aeff;
  border-radius: 50%;
  opacity: 0;
  animation: twinkle linear infinite;
}


@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  z-index: 1;
  padding: 40px 0px;
}

.header-container {
  width: 781px;
  max-width: 100%;
  height: 72px;
  padding: 0 50px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.header-item {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px 16px;
  border-radius: 20px;
}

.header-item:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateY(-2px);
}

.glowing-lines-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glowing-line-wrapper {
  width: 100%;
  position: relative;
  overflow: visible;
}

.glowing-line-svg {
  width: 100%;
  height: 250px;

  overflow: visible;
}

/* Уникальные классы для первой линии */
.aurora-line-left {
  filter: blur(5px) drop-shadow(0 0 20px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 40px rgba(255, 255, 255, 0.4))
    drop-shadow(0 0 60px rgba(255, 255, 255, 0.2));
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: auroraDrawLeft 10s ease-out forwards;
  stroke-width: 20px; 
}

@keyframes auroraDrawLeft {
  to {
    stroke-dashoffset: 0;
  }
}

.cosmic-line-right {
  filter: blur(5px) drop-shadow(0 0 20px rgba(255, 255, 255, 0.8))
    drop-shadow(0 0 40px rgba(255, 255, 255, 0.4))
    drop-shadow(0 0 60px rgba(255, 255, 255, 0.2));
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: cosmicDrawRight 10s ease-out forwards;
  stroke-width: 20px; 
}

@keyframes cosmicDrawRight {
  to {
    stroke-dashoffset: 0;
  }
}

.abstract-bg-left {
  position: absolute;
  width: 935px;
  top: 30px;
  left: -400px;
  z-index: -1;
  opacity: 1;
  animation: fadeIn 1s ease-out 0.5s forwards, slowRotate 120s linear infinite;
}

.abstract-bg-right {
  position: absolute;
  width: 935px;
  top: 330px;
  right: -350px;
  z-index: -1;
  opacity: 1;
  animation: fadeIn 1s ease-out 1s forwards, slowRotate 120s linear infinite;
}

/* Очень медленное вращение */
@keyframes slowRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.support-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.support-hero h1 {
  text-align: center;
  width: 800px;
  font-size: 72px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 74px;
  word-wrap: break-word;

  background: linear-gradient(180deg, #00aeff 100%, #ffffff 30%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.support-hero p {
  text-align: center;
  width: 750px;
  font-size: 24px;
  color: #dbdbdb;
}

.support-hero button {
  width: 251px;
  height: 83px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 60px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.support-hero button h2 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 74px;
  word-wrap: break-word;
}

.support-hero button img {
  padding-left: 20px;
}

.advantages-dark-container {
  width: 100%;
  max-width: 1800px;
  height: 901px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.312);
  padding: 40px 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.advantage-years {
  position: absolute;
  color: white;
  font-size: 100px;
  top: 80px;
  left: 20px;
  font-family: Bebas Neue;
  text-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white, 0 0 80px white;
}

.advantage-transparency {
  position: absolute;
  color: white;
  font-size: 48px;
  top: 20px;
  font-family: Bebas Neue;
  text-shadow: 0 0 5px white, 0 0 10px white;
}

.advantage-worktime {
  position: absolute;
  color: white;
  font-size: 100px;
  top: 150px;
  right: 10px;
  font-family: Bebas Neue;
  text-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white, 0 0 80px white;
}

.advantage-image {
  width: 800px;
  opacity: 1;
  animation: fadeIn 1s ease-out 1s forwards, slowRotate 120s linear infinite;
}

@keyframes slowRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.advantage-specialists {
  position: absolute;
  color: white;
  font-size: 48px;
  right: 50px;
  bottom: 350px;
  font-family: Bebas Neue;
  text-shadow: 0 0 5px white, 0 0 10px white;
}

.advantage-companies {
  position: absolute;
  color: white;
  font-size: 78px;
  bottom: 30px;
  left: 80px;
  font-family: Bebas Neue;
  text-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white, 0 0 80px white;
}

.advantage-economy {
  position: absolute;
  color: white;
  font-size: 48px;
  left: 30px;
  font-family: Bebas Neue;
  word-wrap: break-word;
  text-shadow: 0 0 5px white, 0 0 10px white;
}

.services {
  margin-top: 100px;
}

.services__container {
  width: 100%;
  margin: 0 auto;
  border-radius: 50px;
  padding: 0 30px;
  max-width: 1440px;
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 120px 120px 120px;
  z-index: -1;
}

.services__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services__header h1 {
  color: white;
  font-size: 72px;
}

.services__header p {
  color: white;
  font-size: 24px;
  font-weight: lighter;
}

.services__flex-1 {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.services__flex-2 {
  display: flex;
  gap: 30px;
}

.service-card-row-1 {
  width: 800px;
  height: 300px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 58px;
  padding-bottom: 58px;
  background: linear-gradient(
    180deg,
    rgba(0, 170, 255, 0.25) 0%,
    rgba(12.84, 32.1, 143, 0.25) 100%
  );
  border-radius: 60px;
}
.service-card-row-2 {
  width: 700px;
  height: 300px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 58px;
  padding-bottom: 58px;
  background: linear-gradient(
    180deg,
    rgba(0, 170, 255, 0.25) 0%,
    rgba(12.84, 32.1, 143, 0.25) 100%
  );
  border-radius: 60px;
}


.service-card-row2-1 {
  width: 700px;
  height: 300px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 58px;
  padding-bottom: 58px;
  background: linear-gradient(
    180deg,
    rgba(0, 170, 255, 0.25) 0%,
    rgba(12.84, 32.1, 143, 0.25) 100%
  );
  border-radius: 60px;
}


.service-card-row2-2 {
  width: 800px;
  height: 300px;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 58px;
  padding-bottom: 58px;
  background: linear-gradient(
    180deg,
    rgba(0, 170, 255, 0.25) 0%,
    rgba(12.84, 32.1, 143, 0.25) 100%
  );
  border-radius: 60px;
}
